@model GioHangViewModel

<a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
    <i class="icon-shopping-cart "></i>
     
                                
        <span class="cart-count">@String.Format("{0:0,0}", Model.HoaDon.Total) vnd</span>
                                
</a>