@model SanPham
<div class="container">
    <form method="post" asp-action="Upsert">

        <div class="form-group"
            <label asp-for="Name">Tên Sản Phẩm</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group"
            <label asp-for="Description">Tập</label>
            <input asp-for="Description" type="text" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group"
            <label asp-for="Price">Gía Tiền</label>
            <input asp-for="Price" type="text" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        
        <div class="form-group"
            <label asp-for="ImageUrl">Hình Ảnh</label>
            <input asp-for="ImageUrl" type="text" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        
        
        <div class="form-group">
            <label  asp-for="TheLoaiId">Thể Loại</label>
            <select asp-for="TheLoaiId" asp-items="@ViewBag.DSTheLoai" class="form-control">
                <option value="hello" disabled>Chọn Thể Loại</option>
            </select>
            <span asp-validation-for="TheLoaiId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">@(Model.Id == 0? "Tạo Mới" : "Cập Nhật")</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}