

	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>About Us</h1>
						<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
						<p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
					</div>
				</div>
				<div class="col-lg-7">
					@*<div class="hero-img-wrap">
						<img src="images/couch.png" class="img-fluid">
					</div>*@
				</div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->
	<!-- Start Why Choose Us Section -->
	
	<!-- End Why Choose Us Section -->
	<!-- Start Team Section -->
	<div class="untree_co-section">
		<div class="container">

			<div class="row mb-5">
				<div class="col-lg-5 mx-auto text-center">
					@*<h2 class="section-title">*@
					<br>
					Nhà xuất bản Furni trực thuộc Trung ương Đoàn TNCS Hồ Chí Minh là Nhà xuất bản 
					tổng hợp có chức năng xuất bản sách và văn hóa phẩm phục vụ thiếu nhi và các bậc phụ
					huynh trong cả nước, quảng bá và giới thiệu văn hóa Việt Nam ra thế giới.
					<p>-------------------------------------------------------------</p>
					<br>
				Nhà xuất bản có nhiệm vụ tổ chức bản thảo, biên soạn, biên dịch, xuất bản và phát hành các xuất bản phẩm
				có nội dung: giáo dục truyền thống dân tộc, giáo dục về tri thức, kiến thức… trên các lĩnh vực văn học, nghệ thuật,
				khoa học kỹ thuật nhằm cung cấp cho các em thiếu nhi cũng như các bậc phụ huynh các kiến thức cần thiết trong cuộc 
				sống, những tinh hoa của tri thức nhân loại nhằm góp phần giáo dục và hình thành nhân cách thế hệ trẻ.
				<br />
				<p>-------------------------------------------------------------</p>
				Đối tượng phục vụ của Nhà xuất bản là các em từ tuổi nhà trẻ mẫu giáo (1 đến 5 tuổi),
				nhi đồng (6 đến 9 tuổi), thiếu niên (10 đến 15 tuổi) đến các em tuổi mới lớn (16 đến 18 tuổi) và các bậc phụ huynh.
						@*</h2>*@
				</div>
			</div>

		</div>
	</div>
	
	<!-- End Testimonial Slider -->
	<!-- Start Footer Section -->

