<table class="table">
    <thead>
<tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
</tr>
  </thead>
<tbody>
    <tr>
        <th scope="row">1</th>
        <td>Nghĩa</td>
        <td>Phạm</td>
        <td>1721030862</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Phúc</td>
        <td>Trần</td>
        <td>MSSV</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Tuấn</td>
        <td>Trần</td>
    </tr>
</tbody>
</table>